@font-face {
    font-family: simpsonsFont;
    src: url("../fonts/Simpsonfont.ttf");
}
body {
    background-image: url("../images/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

 .jumbotron {
    background-image: url("../images/homerhead.PNG");
    background-repeat: no-repeat; 
    background-size: contain;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top:3em;
    padding-top: 6.5em;
}

#questionsAnswers {
    align-content: center;
} 

h1 {
    font-family: simpsonsFont;
    color: red;
    font-size: 4em;

    
}
 container {
     align-content: center;
 }

 .answerBox {
     background-color: rgb(74, 92, 131) ;
      }

 .question {
    font-family: simpsonsFont;
    color: red;
    font-size: 1.50em;
    /* margin: .25em 0em 1em 0em; */

 }

img{
    height:250px;
    width:250px;
}

button{
    margin:1em;
    width: 75%;
    font-family: simpsonsFont;
    color: blue;
    font-size: 1em;

}

.btn-light, button {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-light:hover, button {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

#timeRemaining {
    font-family: simpsonsFont;
    color: blue;
    font-size: 1em;

}

